<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet/less" href="less/cpfl.less">
        <link rel="stylesheet" href="css/cpfl.css">
    </head>
    <%-include header.html%>
        <header>
            <!--video 播放-->
            <div id="lh_videodiv">
                <video controls="controls" loop="loop" autoplay="autoplay">
                    <source src="video/craft.mp4" type="video/ogg">
                    <source src="video/craft.mp4" type="video/mp4"> your browser does not support the video tag.
                </video>
            </div>
            <!--按钮的切换商品详情-->
            <div id="lh_daohang">
                <div class="lh_fontdiv">
                    <div>
                        <img src="images/fenlei/u1813.png" class="lh_font" />
                        <h3>最新</h3>
                    </div>
                </div>
                <div class="lh_fontdiv">
                    <div>
                        <img src="images/fenlei/u1818.png" class="lh_font" />
                        <h3>键盘</h3>
                    </div>
                </div>

                <div class="lh_fontdiv">
                    <div>
                        <img src="images/fenlei/u1823.png" class="lh_font" />
                        <h3>鼠标</h3>
                    </div>
                </div>
                <div class="lh_fontdiv">
                    <div>
                        <img src="images/fenlei/u1828.png" class="lh_font" />
                    </div>
                    <h3>键帽</h3>
                </div>

                <div class="lh_fontdiv">
                    <div>
                        <img src="images/fenlei/u1833.png" class="lh_font" />
                    </div>
                    <h3>耳机</h3>
                </div>

                <div class="lh_fontdiv">
                    <div>
                        <img src="images/fenlei/stereo.png" class="lh_font" />
                    </div>
                    <h3>音响</h3>
                </div>

                <div class="lh_fontdiv">
                    <div>
                        <img src="images/fenlei/u1848.png" class="lh_font" />
                    </div>
                    <h3>更多</h3>
                </div>

            </div>
        </header>
        <!--商品内容-->
        <section>

            <!--热卖商品内容-->
            <div class="lh_bankuai showclass">
                <div class="lh_xiankuang">
                    <h3>热卖商品</h3>
                    <div class="lh_xian"></div>
                </div>
                <div class="lh_dabox">

                    <div class="lh_box">
                        <div class="lh_jianpan">
                            <img src="images/product/keyboard/Cherry_MX8.0/1.jpeg" />
                        </div>
                        <div class="lh_hotGoods">
                            <h2>Cherry樱桃 MX 8.0</h2>
                            <p>德国原厂Cherry MX RGB技术的机械式轴体，
                                <br> 轻松实现1670万种绚丽色彩</p>
                            <h3>￥900</h3>
                            <div class="lh_goumai lh_hot1">
                                <a>立即购买</a>
                            </div>
                            <div>
                                <span class="lh_fontSC">&#xe795;</span>
                            </div>
                        </div>
                    </div>
                    <div class="lh_box">
                        <div class="lh_jianpan">
                            <img src="images/product/keyboard/1/1.jpeg" />
                        </div>
                        <div class="lh_hotGoods">
                            <h2>G80-3000</h2>
                            <p>窄边框悬浮键帽设计，
                                <br>原厂磁吸式受托，
                                <br>6-key N-key 智能五冲技术
                            </p>
                            <h3>￥750</h3>
                            <div class="lh_goumai lh_hot2">
                                <a href="#">立即购买</a>
                            </div>
                            <div>
                                <span class="lh_fontSC">&#xe795;</span>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="lh_zhanshi">
                </div>
            </div>
            <!--键盘专区-->
            <div class="lh_bankuai">
                <div class="lh_jPzhuanqu">
                    <div class="lh_xiankuang">
                        <h3>键盘专区</h3>
                        <div class="lh_xian"></div>
                    </div>
                </div>
                <div class="lh_zhanshi">
                </div>
            </div>
            <!--鼠标专区-->
            <div class="lh_bankuai">
                <div class="lh_jPzhuanqu">
                    <div class="lh_xiankuang">
                        <h3>鼠标专区</h3>
                        <div class="lh_xian"></div>
                    </div>
                </div>
                <div class="lh_zhanshi">
                    <div class="lh_ulHuan">
                    </div>
                </div>
            </div>
            <!--键帽专区-->
            <div class="lh_bankuai">
                <div class="lh_jPzhuanqu">
                    <div class="lh_xiankuang">
                        <h3>键帽专区</h3>
                        <div class="lh_xian"></div>
                    </div>
                </div>
                <div class="lh_zhanshi">
                    <div class="lh_ulHuan">
                    </div>
                </div>
            </div>
            <!--耳机专区-->
            <div class="lh_bankuai">
                <div class="lh_jPzhuanqu">
                    <div class="lh_xiankuang">
                        <h3>耳机专区</h3>
                        <div class="lh_xian"></div>
                    </div>
                </div>
                <div class="lh_zhanshi">
                    <div class="lh_ulHuan">
                    </div>
                </div>
            </div>
            <!--音响专区-->
            <div class="lh_bankuai">
                <div class="lh_jPzhuanqu">
                    <div class="lh_xiankuang">
                        <h3>音响专区</h3>
                        <div class="lh_xian"></div>
                    </div>
                </div>
                <div class="lh_zhanshi">
                    <div class="lh_ulHuan">
                    </div>
                </div>
            </div>
            <!--更多-->
            <div class="lh_bankuai">
                <div class="lh_jPzhuanqu">
                    <div class="lh_xiankuang">
                        <h3>更多</h3>
                        <div class="lh_xian"></div>
                    </div>
                </div>
                <div class="lh_zhanshi">
                    <div class="lh_ulHuan">
                    </div>
                </div>
            </div>
        </section>
        <%-include footer.html%>

            <body>
                <script src="js/jquery-1.11.3.js"></script>
                <script src="js/less.js"></script>
                <script>
                    var str = window.location.search;
                    str = parseInt(str.slice(1, 2))
                    if (str >= 1 && str <= 5) {
                        $(".lh_fontdiv").eq(str).click();
                        $('.lh_bankuai').eq(str).addClass('showclass').siblings().removeClass('showclass')
                    };
                    $(".lh_fontdiv").on('click', function () {
                        var a = $(this).index();
                        $('.lh_bankuai').eq(a).addClass('showclass').siblings().removeClass('showclass')
                    })
                    var lh_kg = true
                    $("section").on('click', ".lh_shouchang", function () {
                        if (lh_kg) {
                            $(this).html("&#xe66a;");
                            lh_kg = false
                        } else {
                            $(this).html("&#xe795;");
                            lh_kg = true
                        }
                    })
                    $(".lh_fontSC").on('click', function () {
                        if (lh_kg) {
                            $(this).html("&#xe66a;");
                            lh_kg = false
                        } else {
                            $(this).html("&#xe795;");
                            lh_kg = true
                        }
                    })

                    //列表请求数据
                    function boo() {
                        $.ajax({
                            type: "post",
                            url: "lh_cpfl.do",
                            data: '',
                            success: function (data) {
                                var data0 = data[0]
                                var data1 = data[1]
                                momo(data0, data1);
                                var lh_zhanshi = $(".lh_zhanshi").eq(0)
                                var lh_zhanshiq = $(".lh_zhanshi").eq(1)
                                var lh_zhanshiw = $(".lh_zhanshi").eq(2)
                                var lh_zhanshie = $(".lh_zhanshi").eq(3)
                                var lh_zhanshir = $(".lh_zhanshi").eq(4)
                                var lh_zhanshit = $(".lh_zhanshi").eq(5)
                                var lh_zhanshiy = $(".lh_zhanshi").eq(6)
                                var i = 0;
                                $(window).scroll(function () {
                                    var $this = $(this),
                                        viewH = $(this).height(), //可见高度
                                        contentH = $(document).height(), //内容高度
                                        scrollTop = $(this).scrollTop(); //滚动高度
                                    if (scrollTop / (contentH - viewH) >= 0.95) { //到达底部100px时,加载新内容
                                        // 这里加载数据..
                                        // if (i < data.length)
                                        var sum = i + 12;
                                        for (i; i < sum; i++) {
                                            console.log(data[i].goods_cover);
                                            lh_zhanshi.append("<ul><li><img src='" + data[i]
                                                .goods_cover +
                                                "' alt='' goods_id='" + data[i].goods_id +
                                                "'></li>" +
                                                "<li class='lh_erjiJG'>￥" + data[i].goods_sale +
                                                "</li>" +
                                                "<li class='lh_erjiXH'>" + data[i].goods_name +
                                                "</li>" +
                                                "<li class='lh_erjiGM'><a>立即购买</a></li>" +
                                                "<li class='lh_shouchang'>&#xe795;</li></ul>"
                                            )
                                            lh_zhanshi.on('click', ".lh_erjiGM", function () {
                                                var lh_id = $(this).parent().find('img').attr(
                                                    'goods_id')
                                                window.location.href =
                                                    "productDetail.html?" + lh_id
                                            })

                                            if (data[i].goods_class == "键盘") {
                                                lh_zhanshiq.append("<ul><li><img src='" + data[i].goods_cover +
                                                    "' alt='' goods_id='" + data[i].goods_id +
                                                    "'></li>" +
                                                    "<li class='lh_erjiJG'>￥" + data[i].goods_sale +
                                                    "</li>" +
                                                    "<li class='lh_erjiXH'>" + data[i].goods_name +
                                                    "</li>" +
                                                    "<li class='lh_erjiGM'><a>立即购买</a></li>" +
                                                    "<li class='lh_shouchang'>&#xe795;</li></ul>"
                                                )
                                                lh_zhanshiq.on('click', ".lh_erjiGM", function () {
                                                    var lh_idq = $(this).parent().find(
                                                        'img').attr('goods_id')
                                                    window.location.href =
                                                        "productDetail.html?" + lh_idq
                                                })
                                            }
                                            if (data[i].goods_class == "鼠标") {
                                                lh_zhanshiw.append("<ul><li><img src='" + data[i].goods_cover +
                                                    "' alt=''goods_id='" + data[i].goods_id +
                                                    "'></li>" +
                                                    "<li class='lh_erjiJG'>￥" + data[i].goods_sale +
                                                    "</li>" +
                                                    "<li class='lh_erjiXH'>" + data[i].goods_name +
                                                    "</li>" +
                                                    "<li class='lh_erjiGM'><a>立即购买</a></li>" +
                                                    "<li class='lh_shouchang'>&#xe795;</li></ul>"
                                                )
                                                lh_zhanshiw.on('click', ".lh_erjiGM", function () {
                                                    var lh_idw = $(this).parent().find(
                                                        'img').attr('goods_id')
                                                    window.location.href =
                                                        "productDetail.html?" + lh_idw
                                                })
                                            }
                                            if (data[i].goods_class == "键帽") {
                                                lh_zhanshie.append("<ul><li><img src='" + data[i].goods_cover +
                                                    "' alt='' goods_id='" + data[i].goods_id +
                                                    "'></li>" +
                                                    "<li class='lh_erjiJG'>￥" + data[i].goods_sale +
                                                    "</li>" +
                                                    "<li class='lh_erjiXH'>" + data[i].goods_name +
                                                    "</li>" +
                                                    "<li class='lh_erjiGM'><a>立即购买</a></li>" +
                                                    "<li class='lh_shouchang'>&#xe795;</li></ul>"
                                                )
                                                lh_zhanshie.on('click', ".lh_erjiGM", function () {
                                                    var lh_ide = $(this).parent().find(
                                                        'img').attr('goods_id')
                                                    window.location.href =
                                                        "productDetail.html?" + lh_ide
                                                })
                                            }
                                            if (data[i].goods_class == "耳机") {

                                                lh_zhanshir.append("<ul><li><img src='" + data[i].goods_cover +
                                                    "' alt='' goods_id='" + data[i].goods_id +
                                                    "'></li>" +
                                                    "<li class='lh_erjiJG'>￥" + data[i].goods_sale +
                                                    "</li>" +
                                                    "<li class='lh_erjiXH'>" + data[i].goods_name +
                                                    "</li>" +
                                                    "<li class='lh_erjiGM'><a>立即购买</a></li>" +
                                                    "<li class='lh_shouchang'>&#xe795;</li></ul>"
                                                )
                                                lh_zhanshir.on('click', ".lh_erjiGM", function () {

                                                    var lh_idr = $(this).parent().find(
                                                        'img').attr('goods_id')
                                                    window.location.href =
                                                        "productDetail.html?" + lh_idr
                                                })
                                            }
                                            if (data[i].goods_class == "音响") {
                                                lh_zhanshit.append("<ul><li><img src='" + data[i].goods_cover +
                                                    "' alt='' goods_id='" + data[i].goods_id +
                                                    "'></li>" +
                                                    "<li class='lh_erjiJG'>￥" + data[i].goods_sale +
                                                    "</li>" +
                                                    "<li class='lh_erjiXH'>" + data[i].goods_name +
                                                    "</li>" +
                                                    "<li class='lh_erjiGM'><a>立即购买</a></li>" +
                                                    "<li class='lh_shouchang'>&#xe795;</li></ul>"
                                                )
                                                lh_zhanshit.on('click', ".lh_erjiGM", function () {
                                                    var lh_idt = $(this).parent().find(
                                                        'img').attr('goods_id')
                                                    window.location.href =
                                                        "productDetail.html?" + lh_idt
                                                })
                                            }
                                            if (data[i].goods_class == "更多") {
                                                lh_zhanshiy.append("<ul><li><img src='" + data[i].goods_cover +
                                                    "' alt='' goods_id='" + data[i].goods_id +
                                                    "'></li>" +
                                                    "<li class='lh_erjiJG'>￥" + data[i].goods_sale +
                                                    "</li>" +
                                                    "<li class='lh_erjiXH'>" + data[i].goods_name +
                                                    "</li>" +
                                                    "<li class='lh_erjiGM'><a>立即购买</a></li>" +
                                                    "<li class='lh_shouchang'>&#xe795;</li></ul>"
                                                )
                                                lh_zhanshiy.on('click', ".lh_erjiGM", function () {
                                                    var lh_idy = $(this).parent().find(
                                                        'img').attr('goods_id')
                                                    window.location.href =
                                                        "productDetail.html?" + lh_idy
                                                })
                                            }
                                        }
                                    }
                                })
                            }
                        });

                        function momo(data0, data1) {
                            $('.lh_jiantxet h2').eq(0).html(data0.goods_name);
                            $('.lh_jiantxet p').eq(0).html(data0.goods_discription);
                            // $('.lh_jianpan img').eq(0).attr('src', data0.goods_cover);
                            $('.lh_jiantxet h3').eq(0).html("￥" + data0.goods_sale);
                            $('.lh_jiantxet h2').eq(1).html(data1.goods_name);
                            $('.lh_jiantxet p').eq(1).html(data1.goods_discription);
                            // $('.lh_jianpan img').eq(1).attr('src', data1.goods_cover);
                            $('.lh_jiantxet h3').eq(1).html("￥" + data1.goods_sale);
                        }
                    }
                    boo();
                    $(".lh_hot1").click(function () {
                        location.href = 'productDetail.html?58'
                    })
                    $(".lh_hot2").click(function () {
                        location.href = 'productDetail.html?54'
                    })
                </script>
            </body>

</html>