<!DOCTYPE html>
<html>

    <head lang="en">
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>产品详情</title>
        <link rel="stylesheet" href="css/productDetail.css" />
        <link rel="stylesheet" href="css/productDetail-fdj.css" />
    </head>

    <body>
        <%-include header.html %>
            <div class="productHead">
                <div class="product_nav">
                    <span>当前位置:</span>
                    <a href="index.html">首页</a>
                    <span>></span>
                    <a href="lh_cpfl.html">产品分类</a>
                    <span>></span>
                    <a class="detail_good_name"></a>
                </div>
                <!--第一版块：图片+价格详情-->
                <div class="section1 clearfix">
                    <!--图片展示-->
                    <div class="productImg">
                        <div class="fdj-wrap">
                            <div id="preview">
                                <div id="img-medium">
                                    <!-- <img src="" alt="" width="350" height="350" /> -->
                                    <img src="" onError="this.onerror=null;this.src='';" width="350" height="350" />
                                    <div id="mark"></div>
                                </div>
                                <!-- 小图导航开始 -->
                                <div class="img-small">
                                    <a href="javascript:;" class="left" id="left">&lt</a>
                                    <a href="javascript:;" class="right" id="right">&gt</a>
                                    <div class="img-list-items">
                                        <ul id="img-items">
                                            <li>
                                                <img src="" alt="" />
                                            </li>
                                            <li>
                                                <img src="" msrc="" bsrc="" alt="" />
                                            </li>
                                            <li>
                                                <img src="" msrc="" bsrc="" alt="" />
                                            </li>
                                            <li>
                                                <img src="" msrc="" bsrc="" alt="" />
                                            </li>
                                            <li>
                                                <img src="" msrc="" bsrc="" alt="" />
                                            </li>
                                            <li>
                                                <img src="" msrc="" bsrc="" alt="" />
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- 小图导航结束 -->
                                <div id="img-big">
                                    <img src="" alt="" id="detail" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--产品价格描述-->
                    <div class="priceDetails">
                        <h2 class="detail_good_name"></h2>
                        <ul>

                        </ul>
                        <p class="price"></p>
                        <div class="addPrice">
                            <div>-</div>
                            <div class="numPrice">1</div>
                            <div>+</div>
                            <p>(当前库存
                                <span></span>件)</p>
                        </div>
                        <p class="postage">邮费:
                            <span></span>
                        </p>
                        <p class="remark">七天无理由退款 / 一个月包退换 / 一年保修</p>
                        <!--按钮组-->
                        <div class="btnGroup">
                            <a class="buy">立即购买</a>
                            <a class="cart">加入购物车</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="productDetailWarp">
                <div class="tab-title">
                    <ul>
                        <li showDiv="product-overview">产品概述</li>
                        <li showDiv="roduct-param">产品参数</li>
                        <li showDiv="download" id="download-product">相关下载</li>
                    </ul>
                </div>
                <div class="tab-content">
                    <!--产品概述-->
                    <div class="item product-overview">
                        <div class="itemMain">

                        </div>
                    </div>
                    <div class="item roduct-param">
                        <table>
                            <tr>
                                <td class="row1">型号</td>
                                <td>SGK-6030-KKCR1-US（红轴)
                                </td>
                            </tr>
                            <tr>
                                <td>产品型号</td>
                                <td>MasterKeys Pro S 彩机械键盘</td>
                            </tr>
                            <tr>
                                <td>轴体</td>
                                <td>德国原厂Cherry MX RGB机械式轴体（红/青/茶）轴</td>
                            </tr>
                            <tr>
                                <td>灯光</td>
                                <td>模块背打技术LED,实现高亮度1670万的纯正色彩</td>
                            </tr>
                            <tr>
                                <td>灯效</td>
                                <td>开放式SDK固件包，玩家可自行设定灯效，原厂提供多种仿生灯效，如午后阵雨/星空/彩虹音浪/音乐律动等，请前往下载区更新固件实现更多灯效</td>
                            </tr>
                            <tr>
                                <td>灯光</td>
                                <td>模块背打技术LED,实现高亮度1670万的纯正色彩</td>
                            </tr>
                            <tr>
                                <td>宏</td>
                                <td>4组20套，每套可记忆100个字符</td>
                            </tr>
                            <tr>
                                <td>多媒体</td>
                                <td>支持</td>
                            </tr>
                            <tr>
                                <td>变速</td>
                                <td>1X/2X/4X/8X</td>
                            </tr>
                            <tr>
                                <td>全键无冲</td>
                                <td>支持</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="data"></div>
            </div>
            <%-include footer.html %>
    </body>
    <script src="js/jquery-1.11.3.js"></script>
    <!-- <script src="js/vue.min.js"></script> -->
    <script type="text/javascript" src="js/productDetail-fdj.js"></script>
    <script>
        //获取用户id
        var name = $("#My_user_name")[0].innerHTML
        var user_id;
        $(document).ready(function () {
            $.ajax({
                type: 'get',
                url: '/getUserId.do',
                dataType: "json",
                data: {
                    username: name
                },
                success: function (data) {
                    user_id = data[0].user_id
                }
            })
        })
        //截取链接来获得商品id
        url = window.location.href;
        link_arr = url.split("?")
        goods_id = link_arr[link_arr.length - 1];
        console.log("商品id为" + goods_id);
        $(function () {
            $(".product-overview").show();
            $(".tab-title li").on("click", function () {
                $(".tab-title li").css("background-color", "");
                $(".tab-content .item").hide();
                $(this).css("background-color", "#53565A");
                var showDiv = $(this).attr("showDiv");
                $("." + showDiv).show();
            })
        })
        //数据绑定
        $(document).ready(function () {
            $.ajax({
                type: 'get',
                url: '/details.do',
                dataType: "json",
                data: {
                    goods_id: goods_id
                },
                success: function (data) {
                    var data = data[0]
                    console.log(data);
                    var description = data.goods_discription
                    description = description.split(",")
                    //商品描述
                    $(".detail_good_name").text(data.goods_name);
                    $('.priceDetails>ul').html("")
                    for (var i = 0; i < description.length; i++) {
                        $(".priceDetails>ul").append("<li>" + description[i] + "</li>");
                    }
                    $(".price").text("￥" + data.goods_sale);
                    if (data.goods_sendprice == 0) {
                        $(".postage>span").text("包邮");
                    } else {
                        $(".postage>span").text(data.goods_sendprice);
                    }
                    $(".remark").text(data.goods_baoxiu);
                    //获取库存
                    $(".addPrice>p>span").text(data.goods_num)
                    //图片加载
                    var imgSrc = $('#img-items li img')
                    var sunsrc = data.goods_img.toString()
                    var srco = sunsrc.split(',')
                    $("#img-medium>img").attr('src', srco[0])
                    for (var i = 0; i < imgSrc.length - 1; i++) {
                        imgSrc.eq(i).attr('src', srco[i])
                        imgSrc.eq(i).attr('msrc', srco[i])
                        imgSrc.eq(i).attr('bsrc', srco[i])
                    }
                    //详情图片加载
                    var detail_img_arr = data.detail_img.split(',')
                    for (var i = 0; i < detail_img_arr.length; i++) {
                        $(".itemMain").append("<img src='" + detail_img_arr[i] + "'/>")
                    }
                }
            })
        });
        //相关下载跳转
        $("#download-product").click(() => {
            location.href = "SoftDownload.html"
        })
        //数量加减
        addprice();
        var num = $('.addPrice div').eq(1).text()

        function addprice() {
            $('.addPrice div').eq(2).click(function () {
                num++;
                $('.addPrice div').eq(1).html(num)

            })
            $('.addPrice div').eq(0).click(function () {
                if (num > 1) {
                    num--;
                    $('.addPrice div').eq(1).html(num)
                }
            })
        }
        //加入购物车
        $(".btnGroup").on("click", ".cart", function () {
            $.ajax({
                type: 'get',
                url: '/addToTheCar.do',
                dataType: "json",
                data: {
                    goods_id: goods_id,
                    car_gdnum: num,
                    user_id: user_id
                },
                success: function (data) {
                    console.log(data);
                    if (data == "ok") {
                        console.log("加入成功");
                    } else {
                        console.log("失败");
                    }
                }
            })
        })
        //立即购买
        $(".btnGroup").on("click", ".buy", function () {
            $.ajax({
                type: 'get',
                url: '/addToTheCar.do',
                dataType: "json",
                data: {
                    goods_id: goods_id,
                    car_gdnum: num,
                    user_id: user_id
                },
                success: function (data) {
                    console.log(data);
                    if (data == "ok") {
                        console.log("加入成功");
                    } else {
                        console.log("失败");
                    }
                }
            })
            location.href = 'ShopCart_html.html'
        })
    </script>

</html>